@use "sass:color";

.facebook {
    background-color: $facebook;
    border-color: $facebook;
    &:hover {
        background-color: color.adjust($facebook, $lightness: 10%);
        border-color: color.adjust($facebook, $lightness: 10%);
    }
    &:focus,
    &:active {
        background-color: color.adjust($facebook, $lightness: -10%) !important;
        border-color: color.adjust($facebook, $lightness: -10%) !important;
    }
}
.twitter {
    background-color: $twitter;
    border-color: $twitter;
    &:hover {
        background-color: color.adjust($twitter, $lightness: 10%);
        border-color: color.adjust($twitter, $lightness: 10%);
    }
    &:focus,
    &:active {
        background-color: color.adjust($twitter, $lightness: -10%) !important;
        border-color: color.adjust($twitter, $lightness: -10%) !important;
    }
}
.google {
    background-color: $google;
    border-color: $google;
    &:hover {
        background-color: color.adjust($google, $lightness: 10%);
        border-color: color.adjust($google, $lightness: 10%);
    }
    &:focus,
    &:active {
        background-color: color.adjust($google, $lightness: -10%) !important;
        border-color: color.adjust($google, $lightness: -10%) !important;
    }
}
.github {
    background-color: $github;
    border-color: $github;
    &:hover {
        background-color: color.adjust($github, $lightness: 10%);
        border-color: color.adjust($github, $lightness: 10%);
    }
    &:focus,
    &:active {
        background-color: color.adjust($github, $lightness: -10%) !important;
        border-color: color.adjust($github, $lightness: -10%) !important;
    }
}
